.jumbotron-custom {
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    align-items: center;
    background-color: #15a2b8;
    color:white;
}

/* Centering Jumbotron Text */
.display-4, .lead{
    text-align: center;
}

/* Start BUTTON ROW*/
.button-row {
    padding: 1rem 1.5rem;
    background-color: #15a2b8;
    margin-right: 0px;
}

.btn-primary {
    margin: 5px 10px;
    background-color: #15a2b8 !important;
    border-style: solid;
    border-radius: 12px;
    border-color: #ffffff;
}

.btn-primary:hover {
    background-color: #118b9e !important;
    border-color: #117180;
}

.btn-primary:active {
    border-color:#a7e2eb;
    border-radius: 12px;
}

.btn:focus {
    box-shadow: none !important;
    background-color: #117585 !important;
    border-color:white;
}
/* End BUTTON ROW */

/* Start INPUT Section */
#more-button {
    margin-top: 10px;
}
/* End Input Section */


/* Start GIF SECTION */
.gif-row {
    padding-right: 2.5rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.giphy-element {
    margin: 5px 10px;
}

.gif-div {
    width: 210px;
    padding: 20px;
    display : flex;
    flex-flow: row wrap;
}

.gif-tag {
    margin-left: 12px;
    line-height: 1em;
}
/* End GIF SECTION */